<div class="mob-d-flex align-items-center gap-3" [ngClass]="additionalFilterClasses">
    <div *ngIf="isCategoriesFilterShow" class="filter-selector">
        <nz-form-item>
            <nz-form-control>
                <nz-form-label>Categories</nz-form-label>
                <nz-input-group [nzSize]="'large'">
                    <nz-select [nzMaxTagCount]="1" [nzMaxTagPlaceholder]="tagPlaceHolder" nzMode="multiple"
                        nzPlaceHolder="Please select" [(ngModel)]="selectedCategories" (ngModelChange)="onCatSelect()"
                        [ngModelOptions]="{standalone: true}">
                        <nz-option *ngFor="let item of categories" [nzLabel]="item.name"
                            [nzValue]="item.id"></nz-option>
                    </nz-select>
                    <ng-template #tagPlaceHolder let-selectedList>{{ selectedList.length }}+</ng-template>
                </nz-input-group>
            </nz-form-control>
        </nz-form-item>
    </div>
    <div class="filter-single-selector">
        <nz-form-item>
            <nz-form-control>
                <nz-form-label>Order By</nz-form-label>
                <nz-input-group [nzSize]="'large'">
                    <nz-select [(ngModel)]="orderBy" (ngModelChange)="onOrderSelect()">
                        <nz-option *ngFor="let item of orderByList" [nzValue]="item.value"
                            [nzLabel]="item.label"></nz-option>
                    </nz-select>
                </nz-input-group>
            </nz-form-control>
        </nz-form-item>
    </div>
    <div class="filter-search">
        <nz-form-item>
            <nz-form-control>
                <nz-form-label>Search by title</nz-form-label>
                <nz-input-group nzPrefixIcon="search">
                    <input nz-input placeholder="Enter title" [(ngModel)]="searchText"
                        (ngModelChange)="onSearchChange()" [ngModelOptions]="{standalone: true}" />
                </nz-input-group>
            </nz-form-control>
        </nz-form-item>
    </div>
</div>