<div class="container-margin-y">
    <div class="form-page-flex login-form-main">
        <div class="logo-container-form">
            <div class="text-muted text-center">
                <h1 class="container-margin-y">Login to your account..</h1>
            </div>
            <div class="divider"></div>
            <img src="assets/signup.jpg" alt="" class="img-fluid">
        </div>
        <div class="form-container">
            <div nz-col class="form-container-inner mx-auto container-margin-y">
                <form (submit)="submitForm()" [formGroup]="loginForm" class="login-form" nz-form>
                    <nz-form-item>
                        <nz-form-control [nzErrorTip]="'Please enter email!'">
                            <nz-form-label nzRequired>Email</nz-form-label>
                            <nz-input-group [nzPrefixIcon]="'mail'" [nzSize]="'large'">
                                <input [formControlName]="'email'" nz-input placeholder="Email" type="email" />
                            </nz-input-group>
                        </nz-form-control>
                    </nz-form-item>
                    <nz-form-item>
                        <nz-form-control [nzErrorTip]="'Please enter password!'">
                            <nz-form-label nzRequired>Password</nz-form-label>
                            <nz-input-group [nzPrefixIcon]="'lock'" [nzSize]="'large'">
                                <input [formControlName]="'password'" nz-input placeholder="Password" type="password" />
                            </nz-input-group>
                        </nz-form-control>
                    </nz-form-item>
                    <nz-form-item>
                        <nz-form-control>
                            <button [nzLoading]="loading" [nzType]="'primary'" class="mt-1" nz-button nzBlock
                                [nzSize]="'large'" type="submit">Login</button>
                        </nz-form-control>
                    </nz-form-item>
                </form>
            </div>
        </div>
    </div>
</div>