<footer>
    <div class="main-footer text-center">
        <div class="main-container-size">
            <div class="">
                <div class="logo-footer">
                    <a href="/">
                        <img src="assets/logo.png" alt="" class="img-fluid">
                    </a>
                </div>
                <div class="mt-4">

                </div>
                <p class="font-sm">Built by Malaka Sandakal</p>
                <p class="font-sm">© 2024 Designer Digest. All Rights Reserved.</p>
            </div>
        </div>
    </div>
</footer>
