<app-main-navbar></app-main-navbar>

<div class="secured-page-x-padding-main">
    <div class="container-margin-y">

        <div class="d-flex align-items-center gap-3">
            <div *ngIf="currentUser">
                <nz-form-item>
                    <nz-form-control>
                        <nz-input-group [nzSize]="'large'">
                            <label nz-checkbox [(ngModel)]="followedOnly" (ngModelChange)="getDesigners()"
                                class="mt-3">Followings only</label>
                        </nz-input-group>
                    </nz-form-control>
                </nz-form-item>
            </div>
            <div>
                <nz-form-item>
                    <nz-form-control>
                        <nz-form-label>Order By</nz-form-label>
                        <nz-input-group [nzSize]="'large'">
                            <nz-select [(ngModel)]="orderBy" (ngModelChange)="onOrderByChange()">
                                <nz-option *ngFor="let item of orderByList" [nzValue]="item.value"
                                    [nzLabel]="item.label"></nz-option>
                            </nz-select>
                        </nz-input-group>
                    </nz-form-control>
                </nz-form-item>
            </div>
            <div>
                <nz-form-item>
                    <nz-form-control>
                        <nz-form-label>Categories</nz-form-label>
                        <nz-input-group [nzSize]="'large'">
                            <nz-select [nzMaxTagCount]="3" [nzMaxTagPlaceholder]="tagPlaceHolder" nzMode="multiple"
                                nzPlaceHolder="Please select" [(ngModel)]="selectedCategories"
                                (ngModelChange)="onFilterCategoryChange()" [ngModelOptions]="{standalone: true}"
                                [nzLoading]="loadingCategories">
                                <nz-option *ngFor="let item of categories" [nzLabel]="item.name"
                                    [nzValue]="item.id"></nz-option>
                            </nz-select>
                            <ng-template #tagPlaceHolder let-selectedList>and {{ selectedList.length }} more
                                selected</ng-template>
                        </nz-input-group>
                    </nz-form-control>
                </nz-form-item>
            </div>
            <div>
                <nz-form-item>
                    <nz-form-control>
                        <nz-form-label>Search by name</nz-form-label>
                        <nz-input-group nzPrefixIcon="search">
                            <input nz-input placeholder="Enter name" [(ngModel)]="searchText"
                                (ngModelChange)="onSearchChange()" [ngModelOptions]="{standalone: true}" />
                        </nz-input-group>
                    </nz-form-control>
                </nz-form-item>
            </div>
        </div>

        <div class="designers-container d-flex flex-wrap">
            <ng-container *ngFor="let item of designers">
                <div *ngIf="item.email !== currentUser.email" class="width-card">
                    <app-single-designer-card [designer]="item"></app-single-designer-card>
                </div>
            </ng-container>
        </div>
        
        <div *ngIf="!designers.length" class="no-posts-found text-center my-4 py-4">
            <h5 class="text-muted">No Designers Found</h5>
            <span nz-icon nzType="meh" nzTheme="outline"></span>
        </div>

        <div *ngIf="loading" class="no-posts-found text-center my-4 py-4">
            <app-loading-spinner></app-loading-spinner>
        </div>

    </div>
</div>