<div class="secured-page-x-padding-main">
    <div class="filter-section d-flex align-items-center container-margin-y">
        <h3 >Your chats</h3>
        <button nz-button [nzType]="'default'" class="ms-auto"><span>New Chat</span></button>
    </div>
    <div class="chats-section">
        <nz-list nzItemLayout="horizontal" [nzLoading]="loading">
            <ng-container *ngFor="let item of chats">
                <nz-list-item class="cursor-pointer py-3">
                    <nz-skeleton></nz-skeleton>
                </nz-list-item>
            </ng-container>
        </nz-list>
    </div>
</div>

<nz-modal [nzVisible]="true" [nzClosable]="false" [nzMaskClosable]="false" [nzTitle]="titleTemplate">
    <ng-template #titleTemplate>
        <div *ngIf="reciever" class="d-flex align-items-center gap-2">
            <div >
                <nz-avatar *ngIf="reciever.profile_picture" nzIcon="user"
                    [nzSrc]="'http://127.0.0.1:3000'+reciever.profile_picture!" [nzSize]="30"></nz-avatar>
                <nz-avatar *ngIf="!reciever.profile_picture" nzIcon="user" style="background-color: black;"
                    [nzSize]="30"></nz-avatar>
            </div>
            <div>
                <h5 class="user-card-head">{{reciever.first_name}} {{reciever.last_name}}</h5>
                <p class="user-card-des">{{reciever.role}} - {{reciever.email}}</p>
            </div>
        </div>
    </ng-template>
    <ng-container *nzModalContent>
        <div class="fixed-model-overflow" #scrollContainer>
            <nz-list nzItemLayout="horizontal" [nzLoading]="loading">
                <ng-container *ngFor="let item of messages">
                    <div class="d-flex w-100 msg-holder" [ngClass]="item.from_user === currentUser.id ? 'justifty-content-end': 'justifty-content-start'">
                        <ng-container *ngIf="item.type === 'image'">
                            <div class="single-message">
                                <div class="message-image relative" [ngClass]="item.from_user === currentUser.id ? 'my-msg': 'other-msg'">
                                    <img [src]="'http://127.0.0.1:3000'+item.file_url" alt="" class="img-fluid">
                                    <div class="d-flex align-items-center mt-1">
                                        <small class="date-very-small">{{item.created_at | date:'MMMM d, y' }}</small>
                                        <a *ngIf="item.from_user !== currentUser.id" nz-button nzType="default" [href]="'http://127.0.0.1:3000'+item.file_url" class="msg-download ms-auto" download>
                                            <span nz-icon nzType="download" nzTheme="outline"></span>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </ng-container>
                        <ng-container *ngIf="item.type === 'video'">
                            <div class="single-message">
                                <div class="message-image relative" [ngClass]="item.from_user === currentUser.id ? 'my-msg': 'other-msg'">
                                    <video [src]="'http://127.0.0.1:3000'+item.file_url" [autoplay]="true" style="height: auto; width: 100%;"></video>
                                    <div class="d-flex align-items-center mt-1">
                                        <small class="date-very-small">{{item.created_at | date:'MMMM d, y' }}</small>
                                        <a *ngIf="item.from_user !== currentUser.id" nz-button nzType="default" [href]="'http://127.0.0.1:3000'+item.file_url" class="msg-download ms-auto" download>
                                            <span nz-icon nzType="download" nzTheme="outline"></span>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </ng-container>
                        <ng-container *ngIf="item.type === 'text'">
                            <div class="single-message">
                                <div [ngClass]="item.from_user === currentUser.id ? 'my-msg': 'other-msg'">
                                    <p class="post-card-des msg-text-holder">{{item.message}}</p>
                                </div>
                                <small class="date-very-small">{{item.created_at | date:'MMMM d, y' }}</small>
                            </div>
                        </ng-container>
                    </div>
                </ng-container>
            </nz-list>
        </div>
    </ng-container>
    <div *nzModalFooter>
        <div class="d-flex align-items-center gap-2">
            <div class="d-contents">
                <input nz-input placeholder="Enter your message" [(ngModel)]="messageText" type="text" (ngModelChange)="onMessageTextChange()"
                [ngModelOptions]="{standalone: true}"/>
            </div>
            <div class="d-block">
                <input type="file" name="files" class="" (change)="onSelecttoUpload($event)" [accept]="'image/*, video/*'" multiple hidden #fileInput>
                <button nz-button nzType="default" [disabled]="uploading || sending || disableButton" type="button" (click)="fileInput.click()"><span nz-icon nzType="paper-clip" nzTheme="outline"></span></button>
                <small *ngIf="uploading">Uploading<span nz-icon [nzType]="'loading'" class="ms-1"></span></small>
            </div>
            <div class="d-block">
                <button nz-button nzType="primary" [disabled]="uploading || sending || disableButton" type="button" (click)="sendMessage('text', null)">
                    <span nz-icon nzType="send" nzTheme="outline"></span>
                </button>
            </div>
        </div>
    </div>
</nz-modal>