<nz-modal [nzVisible]="true" [nzClosable]="false" [nzMaskClosable]="false" nzTitle="The first Modal">
    <ng-container *nzModalContent>
        <div class="fixed-model-overflow">
            <nz-list nzItemLayout="horizontal" [nzLoading]="loading">
                <ng-container *ngFor="let item of messages">
                    <div class="d-flex w-100 msg-holder" [ngClass]="item.from_user === currentUser.id ? 'justifty-content-end': 'justifty-content-start'">
                        <ng-container *ngIf="item.type === 'image'">
                            <img [src]="'http://127.0.0.1:3000'+item.file_url" alt="">
                        </ng-container>
                        <ng-container *ngIf="item.type === 'video'">
                            <video [src]="'http://127.0.0.1:3000'+item.file_url" [autoplay]="false"></video>
                        </ng-container>
                        <ng-container *ngIf="item.type === 'text'">
                            <div class="single-message">
                                <div [ngClass]="item.from_user === currentUser.id ? 'my-msg': 'other-msg'">
                                    <p class="post-card-des msg-text-holder">{{item.message}}</p>
                                </div>
                                <p >{{reciever?.first_name}}</p>
                                <small class="date-very-small">{{item.created_at | date:'MMMM d, y' }}</small>
                            </div>
                        </ng-container>
                    </div>
                </ng-container>
            </nz-list>
        </div>
    </ng-container>
    <div *nzModalFooter>
        <div class="d-flex align-items-center gap-2">
            <div>
                <input nz-input placeholder="Enter your message" [(ngModel)]="messageText" type="text" (ngModelChange)="onMessageTextChange()"
                [ngModelOptions]="{standalone: true}"/>
            </div>
            <div class="d-block">
                <input type="file" name="files" class="" (change)="onSelecttoUpload($event)" [accept]="'image/*, video/*'" multiple hidden #fileInput>
                <button nz-button nzType="default" [disabled]="uploading || sending || disableButton" type="button" (click)="fileInput.click()"><span nz-icon nzType="paper-clip" nzTheme="outline"></span></button>
                <small *ngIf="uploading">Uploading<span nz-icon [nzType]="'loading'" class="ms-1"></span></small>
            </div>
            <div class="d-block">
                <button nz-button nzType="primary" [disabled]="uploading || sending || disableButton" type="button" (click)="sendMessage('text', null)">
                    <span nz-icon nzType="send" nzTheme="outline"></span>
                </button>
            </div>
        </div>
    </div>
</nz-modal>