<div class="secured-page-x-padding-main">

    <div class="filter-title-bg">
        <div class="main-container-size">
            <div class="filter-title">
                <div class="title-section">
                    <h3 class="mb-0">Your chats</h3>
                </div>
                <div class="filter-section">
                    <button nz-button [nzType]="'primary'" (click)="showModal()" class="ms-auto"><span>New Chat</span></button>
                </div>
            </div>
        </div>
    </div>

    <div class="chats-section main-container-size">        
        <div *ngIf="!chats.length" class="no-posts-found text-center my-4 py-4">
            <h5 class="text-muted">No Chats Found</h5>
            <span nz-icon nzType="meh" nzTheme="outline"></span>
        </div>
        <nz-list nzItemLayout="horizontal" [nzLoading]="loading">
            <ng-container *ngFor="let item of chats">
                <nz-list-item *ngIf="item.user_id !== currentUser.id" class="cursor-pointer py-3" (click)="goToSingleChat(item.user_id)">
                    <div class="mob-d-flex align-items-center gap-2 w-100">
                        <div>
                            <nz-avatar *ngIf="item.profile_picture" nzIcon="user"
                                [nzSrc]="'http://127.0.0.1:3000'+item.profile_picture!" [nzSize]="50"></nz-avatar>
                            <nz-avatar *ngIf="!item.profile_picture" nzIcon="user" style="background-color: black;"
                                [nzSize]="50"></nz-avatar>
                        </div>
                        <div class="w-100">
                            <div class="mob-d-flex align-items-center">
                                <div class="me-auto">
                                    <h5 class="user-card-head mb-2">{{item.user_name}}</h5>
                                    <p class="user-card-des">{{item.latest_message}}</p>
                                </div>
                                <div class="ms-auto">
                                    <div class="main-chat-unread-count">{{item.unread_count}}</div>
                                    <p class="user-card-des">{{item.created_at | date:'MMMM d, y' }}</p>
                                </div>
                            </div>
                            
                        </div>
                    </div>
                </nz-list-item>
            </ng-container>
        </nz-list>
    </div>
</div>

<nz-modal [(nzVisible)]="isVisible" nzTitle="Select designer to chat" (nzOnCancel)="handleCancel()">
    <ng-container *nzModalContent>
        <input nz-input placeholder="Search by name" type="text" [(ngModel)]="name" (ngModelChange)="onSearchChange($event)" [ngModelOptions]="{standalone: true}" class="mb-1"/>
        <nz-list nzItemLayout="horizontal" [nzLoading]="loading">
            <ng-container *ngFor="let item of filteredDesigners">
                <nz-list-item *ngIf="currentUser && currentUser.id !== item.id" class="cursor-pointer"
                    (click)="goToSingleChat(item.id)">
                    <div class="mob-d-flex align-items-center gap-2">
                        <div>
                            <nz-avatar *ngIf="item.profile_picture" nzIcon="user"
                                [nzSrc]="'http://127.0.0.1:3000'+item.profile_picture!" [nzSize]="30"></nz-avatar>
                            <nz-avatar *ngIf="!item.profile_picture" nzIcon="user" style="background-color: black;"
                                [nzSize]="30"></nz-avatar>
                        </div>
                        <div>
                            <h5 class="user-card-head">{{item.first_name}} {{item.last_name}}</h5>
                            <p class="user-card-des">{{item.role}} - {{item.email}}</p>
                        </div>
                    </div>
                </nz-list-item>
            </ng-container>
        </nz-list>

        <ng-container *ngIf="loadingUsers">
            <app-loading-spinner></app-loading-spinner>
        </ng-container>
        <div *ngIf="!filteredDesigners.length" class="no-posts-found text-center my-4 py-4">
            <h5 class="text-muted">No Chats Found</h5>
            <span nz-icon nzType="meh" nzTheme="outline"></span>
        </div>
    </ng-container>
    <ng-container *nzModalFooter=""></ng-container>
</nz-modal>