.public-vacancy-card {
    padding: 54px 48px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: white;
    width: 100%;
    max-width: calc((100% / 5) - 16px);
    min-width: calc((100% / 5) - 16px);
    text-align: center;
}

@media(max-width: 1340px) {
    .public-vacancy-card {
        max-width: calc((100% / 4) - 16px);
        min-width: calc((100% / 4) - 16px);
    }
}
