.post-thumbnail-image, .post-thumbnail-image {
    width: 100%;
    max-width: 700px;
    min-width: 700px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 24px;
    overflow: hidden;
    cursor: pointer;
}
.single-post-created-at, .single-post-thumbnail, .single-post-description, .single-post-media {
    /* margin-top: 24px; */
}
.single-post-title h3 {
    font-weight: 600;
    font-size: 42px;
}

.vote-btn,.chat-btn,.follow-btn {
    border-radius: 100px;
    border: 1px solid rgb(218, 220, 224);
    width: 42px;
    height: 42px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
}

.vote-btn.highlight, .follow-btn.highlight {
    background-color: #1890ff;
}

.vote-btn span{
    font-size: 24px;
}
.follow-btn span {
    font-size: 18px;
} 

.vote-btn.highlight span, .follow-btn.highlight span {
    color: white;
}

.vote-count {
    position: absolute;
    top: 85%;
    left: -4px;
    background: #1890ff;
    color: white;
    border-radius: 4px;
    padding-left: 4px;
    padding-right: 4px;
}

.single-post-created-at small {
    font-size: 12px;
    color: #999999;
}

.sider {
    position: fixed;
    top: 120px;
    left: 0px;
    padding: 24px 11px;
    background: #efefef;
    border-top-right-radius: 24px;
    border-bottom-right-radius: 24px;
}

.media-files-holder {
    flex-wrap: wrap;
    gap: 24px;
}
.single-post-media-file {
    max-width: 550px;
    border-radius: 24px;
    overflow: hidden;
    cursor: pointer;
}

.page-bg {
    background-color: #f5f6f74f;
    background-image: radial-gradient(circle farthest-corner at 100% 100%, rgb(122 167 255 / 27%), transparent 44%), radial-gradient(circle farthest-corner at 0% 100%, rgba(255, 1, 1, 0.15), transparent 32%);
}

.container-margin-y {
    padding-top: 48px;
    padding-bottom: 48px;
}

.single-post-title {
    margin-bottom: 12px;
}

.single-post-description {
    max-width: 1024px;
    border-radius: 16px;
    overflow: hidden;
    background-color: white;
    border: 1px solid #d9d9d9;
    padding: 72px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 42px;
    margin-bottom: 42px;
}

.media-files-holder {
    justify-content: center;
}