<div *ngIf="designer" class="designer-card-main">
    <div class="designer-card">
        <div>
            <nz-avatar *ngIf="designer.profile_picture" nzIcon="user"
                [nzSrc]="'http://127.0.0.1:3000'+designer.profile_picture!" [nzSize]="100"></nz-avatar>
            <nz-avatar *ngIf="!designer.profile_picture" nzIcon="user" style="background-color: black;"
                [nzSize]="100"></nz-avatar>
        </div>
        <div class="w-100">
            <div class="">
                <div class="">
                    <h5 class="single-designer-name hover-text cursor-pointer overflow-text"
                        (click)="navgiateToSingleDesigner(designer.designer_id)" nz-tooltip [nzTooltipTitle]="designer.first_name+ ' ' + designer.last_name">{{designer.first_name}}
                        {{designer.last_name}}
                    </h5>
                    <p class="single-designer-small">{{designer.email}}</p>
                </div>
            </div>
            <div class="stats-section">
                <div class="mob-d-flex gap-2 align-items-center flex-wrap">
                    <div>
                        <span class="mob-d-flex align-items-center flex-wrap gap-1" nz-tooltip [nzTooltipTitle]="'Upvotes Count'">
                            <span nz-icon nzType="heart" nzTheme="outline"></span>
                            {{designer.upvotes_count}}
                        </span>
                    </div>
                    <div>
                        <span class="mob-d-flex align-items-center flex-wrap gap-1" nz-tooltip [nzTooltipTitle]="'Followers Count'">
                            <span nz-icon nzType="user" nzTheme="outline"></span>
                            {{designer.follow_count}}
                        </span>
                    </div>
                    <div>
                        <span class="mob-d-flex align-items-center flex-wrap gap-1" nz-tooltip [nzTooltipTitle]="'Posts Count'">
                            <span nz-icon nzType="appstore" nzTheme="outline"></span>
                            {{designer.posts_count}}
                        </span>
                    </div>
                </div>
            </div>

            <nz-tag [nzColor]="'#999999'" class="location-section hover-tag hover-tag cursor-pointer align-items-center mob-d-flex gap-2" (click)="navigateToLocationDesigners(designer.locations[0].id)">
                <span nz-icon nzType="aim" nzTheme="outline"></span>
                {{designer.locations[0].name}}
            </nz-tag>

        </div>
    </div>
</div>