<div class="container-margin-y">
    <h3>Create new post</h3>
    <div class="form-page-flex">
        <div class="form-container w-100">
            <div class="form-container-inner mx-auto container-margin-y">
                <form (submit)="submitForm()" class="create-post-form" nz-form>
                    <nz-form-item>
                        <nz-form-control>
                            <nz-form-label nzRequired>Title</nz-form-label>
                            <nz-input-group [nzSize]="'large'">
                                <input nz-input placeholder="Post title" type="text" [(ngModel)]="title" (ngModelChange)="onTitleChange($event)" [ngModelOptions]="{standalone: true}"/>
                                <span *ngIf="errorObject.title.show" nz-typography nzType="danger">You must enter title</span>
                            </nz-input-group>
                        </nz-form-control>
                    </nz-form-item>
        
                    <nz-form-item>
                        <nz-form-control>
                            <nz-form-label>Description</nz-form-label>
                            <nz-input-group [nzSize]="'large'">
                                <!-- <textarea nz-input placeholder="Autosize height based on content lines" nzAutosize
                                    [(ngModel)]="description" [ngModelOptions]="{standalone: true}"
                                    [nzAutosize]="{ minRows: 2, maxRows: 6 }"></textarea> -->

                                <div *ngIf="editor" class="NgxEditor__Wrapper">
                                    <ngx-editor-menu [editor]="editor" [toolbar]="toolbar"> </ngx-editor-menu>
                                    <ngx-editor [editor]="editor" [(ngModel)]="description" (ngModelChange)="onDescriptionChange($event)" [disabled]="false" [placeholder]="'Type here...'" [ngModelOptions]="{standalone: true}"></ngx-editor>
                                </div>
                                <span *ngIf="errorObject.description.show" nz-typography nzType="danger">You must enter description</span>
                            </nz-input-group>
                        </nz-form-control>
                    </nz-form-item>
        
                    <nz-form-item>
                        <nz-form-control>
                            <nz-form-label nzRequired>Categories</nz-form-label>
                            <nz-input-group [nzSize]="'large'">
                                <nz-select [nzMaxTagCount]="3" [nzMaxTagPlaceholder]="tagPlaceHolder" nzMode="multiple"
                                    nzPlaceHolder="Please select" [(ngModel)]="selectedCatgeories"
                                    (ngModelChange)="onCategory()"
                                    [ngModelOptions]="{standalone: true}"
                                    [nzLoading]="loading">
                                    <nz-option *ngFor="let item of categories" [nzLabel]="item.name"
                                        [nzValue]="item.id"></nz-option>
                                </nz-select>
        
                                <span *ngIf="errorObject.categorie.show" nz-typography nzType="danger">You must select
                                    category/categories</span>
        
                                <ng-template #tagPlaceHolder let-selectedList>and {{ selectedList.length }} more
                                    selected</ng-template>
                            </nz-input-group>
                        </nz-form-control>
                    </nz-form-item>
        
                    <nz-form-item>
                        <nz-form-control>
                            <nz-form-label nzRequired>Media Files</nz-form-label>
                            <app-file-upload [acceptBoth]="true" [multiple]="true" (progressUpdate)="onProgressUpdate($event)"
                                (uploadComplete)="onUploadComplete($event);onProgressUpdate(false)"
                                (uploadError)="onUploadError($event);onProgressUpdate(false)"></app-file-upload>
        
                            <span *ngIf="errorObject.files.show" nz-typography nzType="danger">You must upload files</span>
        
                            <div nz-row [nzGutter]="16" class="mt-3">
                                <div *ngFor="let item of uploadedFiles" nz-col class="gutter-row" [nzSpan]="6">
                                    <div class="inner-box">
                                        <button nz-button nzType="default" nzShape="circle" class="file-remove-btn" (click)="removeFile(item)">
                                            <span nz-icon nzType="close-circle" nzTheme="outline"></span>
                                        </button>
                                        <img nz-image *ngIf="item.type === 'image'" nz-image [nzSrc]="'http://127.0.0.1:3000'+item.url"
                                            alt="" class="img-fluid" />
                                        <video *ngIf="item.type === 'video'"  autoplay
                                            [controls]="false">
                                            <source [src]="'http://127.0.0.1:3000'+item.url" type="video/mp4">
                                        </video>
                                    </div>
                                    <div class="small mt-1">{{item.name}}</div>
                                </div>
                            </div>
        
                            <div *ngIf="uploadProgress">
                                Uploading.....
                            </div>
                        </nz-form-control>
                    </nz-form-item>
        
                    <nz-form-item *ngIf="uploadedFiles.length">
                        <nz-form-control>
                            <nz-form-label nzRequired>Select Thumbnail</nz-form-label>
                            <nz-input-group [nzSize]="'large'">
                                <nz-select [(ngModel)]="selectedThumbnail" (ngModelChange)="onSelectThumbnail()" [ngModelOptions]="{standalone: true}">
                                    <nz-option *ngFor="let item of uploadedFiles" [nzValue]="item.url"
                                        [nzLabel]="item.name"></nz-option>
                                </nz-select>
                                <span *ngIf="errorObject.thumbnail.show" nz-typography nzType="danger">You must select thumbnail file</span>
                            </nz-input-group>
                        </nz-form-control>
                    </nz-form-item>
        
                    <nz-form-item>
                        <nz-form-control>
                            <button [nzLoading]="loading" [nzType]="'primary'" class="mt-1" nz-button nzBlock [nzSize]="'large'"
                                type="submit">Create Post</button>
                        </nz-form-control>
                    </nz-form-item>
                </form>
            </div>
        </div>
    </div>
</div>
