/* You can add global styles to this file, and also import other style files */


.flex {
    display: flex;
    flex-wrap: wrap;
}

.items-center {
    align-items: center;
}

.gap-x-md {
    column-gap: 16px;
}

.relative {
    position: relative;
}