.hero-section {
    border-radius: 8px;
    padding: 48px;
}

.hero-img-holder {
    max-width: 650px;
}

.no-posts-found span{
    font-size: 24px;
    color: red;
}

.highlight {
    background-color: greenyellow;
    color: white;
}
