.public-vacancy-card {
    padding: 54px 48px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: white;
    width: 100%;
    max-width: calc((100% / 5) - 16px);
    min-width: calc((100% / 5) - 16px);
    text-align: center;
}
@media(max-width: 1340px) {
    .public-vacancy-card {
        max-width: calc((100% / 4) - 16px);
        min-width: calc((100% / 4) - 16px);
    }
}
.vacancy-description-holder {
    padding: 16px;
    background-color: rgb(236 240 243 / 30%);
    border-radius: 4px;
}

.vacancy-download-btn {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    margin: auto;
    background: #1890ff;
    color: white;
    width: 28px;
    height: 28px;
    font-size: 20px;
    padding-top: 4px;
    border-radius: 8px;
}

.retrived-vacancy-card-des {
    font-size: 12px;
}