<div class="secured-page-x-padding-main">

    <div class="filter-title-bg">
        <div class="main-container-size">
            <div class="filter-title">
                <div class="title-section">
                    <h3 class="mb-0">Dashboard</h3>
                </div>
                <div class="filter-section">
                    <div class="date-filter">
                        <nz-date-picker [nzAllowClear]="false" [nzDisabledDate]="disabledStartDate"
                            nzFormat="yyyy-MM-dd" [(ngModel)]="startValue" nzPlaceHolder="From"
                            (nzOnOpenChange)="handleStartOpenChange($event)"
                            class="filter-single-selector"></nz-date-picker>
                        <nz-date-picker [nzAllowClear]="false" #endDatePicker [nzDisabledDate]="disabledEndDate"
                            nzFormat="yyyy-MM-dd" [(ngModel)]="endValue" nzPlaceHolder="To"
                            (nzOnOpenChange)="handleEndOpenChange($event)"
                            class="ms-2 filter-single-selector"></nz-date-picker>
                        <button nz-button [nzType]="'primary'" class="ms-2 filter-btn"
                            (click)="filterDate()">Filter</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="main-container-size ">

        <div class="mob-d-flex gap-2 flex-wrap mt-3">

            <div class="chart-col">
                <h6>Followers count</h6>
                <div id="follow_count" [ngClass]="!following.length ? 'd-none' : ''" style="width: 550px;height:400px;">

                </div>
                <div *ngIf="!following.length" class="no-posts-found text-center my-4 py-4">
                    <h5 class="text-muted">No Data</h5>
                    <span nz-icon nzType="meh" nzTheme="outline"></span>
                </div>
            </div>

            <div class="chart-col">
                <h6>Posts votes</h6>
                <div id="votes_count" [ngClass]="!votes.length ? 'd-none' : ''" style="width: 550px;height:400px;">

                </div>
                <div *ngIf="!votes.length" class="no-posts-found text-center my-4 py-4">
                    <h5 class="text-muted">No Data</h5>
                    <span nz-icon nzType="meh" nzTheme="outline"></span>
                </div>
            </div>

            <div class="chart-col">
                <h6>Posts created</h6>
                <div id="posts_count" [ngClass]="!posts.length ? 'd-none' : ''" style="width: 550px;height:400px;">

                </div>
                <div *ngIf="!posts.length" class="no-posts-found text-center my-4 py-4">
                    <h5 class="text-muted">No Data</h5>
                    <span nz-icon nzType="meh" nzTheme="outline"></span>
                </div>
            </div>


        </div>



        <ng-container *ngIf="loading">
            <app-loading-spinner></app-loading-spinner>
        </ng-container>

    </div>
</div>
