<div class="container-margin-y">
    <div class="form-page-flex login-form-main">
        <div class="logo-container-form">
            <div class="text-muted text-center">
                <h1 class="container-margin-y">Reset your password</h1>
            </div>
            <div class="divider"></div>
            <img src="assets/signup.jpg" alt="" class="img-fluid">
        </div>
        <div class="form-container">
            <div nz-col class="form-container-inner mx-auto container-margin-y">
                <form (submit)="submitForm()" [formGroup]="passwordResetForm" class="login-form" nz-form>

                    <nz-form-item>
                        <nz-form-control [nzErrorTip]="'Please enter current password!'">
                            <nz-form-label nzRequired>Current Password</nz-form-label>
                            <nz-input-group [nzPrefixIcon]="'lock'" [nzSize]="'large'">
                                <input [formControlName]="'current_password'" nz-input placeholder="Current Password" type="password" />
                            </nz-input-group>
                        </nz-form-control>
                    </nz-form-item>

                    <nz-form-item>
                        <nz-form-control [nzErrorTip]="'Please enter new password!'">
                            <nz-form-label nzRequired>New Password</nz-form-label>
                            <nz-input-group [nzPrefixIcon]="'lock'" [nzSize]="'large'">
                                <input [formControlName]="'new_password'" nz-input placeholder="New Password" type="password" />
                            </nz-input-group>
                        </nz-form-control>
                    </nz-form-item>

                    <nz-form-item>
                        <nz-form-control>
                            <button [nzLoading]="loading" [nzType]="'primary'" class="mt-1" nz-button nzBlock
                                [nzSize]="'large'" type="submit">Reset</button>
                        </nz-form-control>
                    </nz-form-item>

                </form>
            </div>
        </div>
    </div>
</div>